<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="images/logo.svg" type="image/icon type">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>xcap</title>

  <link rel="stylesheet" href="templates/account.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
      
</head>
<body>

<ul>
  <li>Username: {username}</li>
  <li>Settings: {settings}</a></li>
  <li>Your API_KEY: {API_KEY}</li>
  <li>Exit</li>
</ul>


</body>
</html>
